@model IEnumerable<BillingSystem.Models.Total>

@{
    ViewData["Title"] = "_Total";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
}
    </tbody>
</table>
