@model Commonview

@{
    ViewData["Title"] = "View";
}

<div class="size">

  <div >
        <form asp-action="Creates">

       
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" required>
                <table align="left">
                <thead>
                    <tr>
                        <th width="1000">
                                <partial name="_BillingPartial" model="Model.BillingCreate" required />
                        </th>

                        <th width="1000">
                                <partial name="_ShippingPartial" model="Model.ShippingCreate" required />
                        </th>
                    </tr>
                </thead>
            </table>
            </div>
            <input type="submit" value="SUBMIT ADDRESS" class="m-3" required />
        </form>

            <div class="form-group" required>
        <table>
            <tr>
 
                        <partial name="_Addproduct" model="Model.AddProduct" required  />
            </tr>
               <tr>
                    <partial name="_Cart" model="Model.Cart" required />
            </tr>
              @*   <tr>
                    <partial name="_Total" model="Model.Total" required />
                </tr *@
               @*  <div style="text-align:end" class="tot-amt">
                    <h3>Total Amount: ₹<span id="totalAmount">1000.00</span></h3>
                </div> *@
        </table>
        
       </div>


        <form asp-action="Clean">

            <input type="submit" value="SUBMIT ORDER" class="m-3" required/>

        </form>
   @*  <div class="form-group">
        <input type="submit" value="SUBMIT ORDER" class="m-3" style="width:150px;height:50px ;padding: 10px;margin-bottom: 10px;border: 1px solid #ccc;border-radius: 4px;font-size: 16px;" />
    </div>
 *@
 </div>
            
       
   
</div>