@model Commonview

@{
    ViewData["Title"] = "View";
}

<div class="size">

    <div>
        <table align="left">
            <thead>
                <tr>
                    <th width="1000">
            <partial name="_BillingPartial" model="Model.BillingCreate" />
                    </th>
               
             <th width="1000">
                    <partial name="_ShippingPartial" model="Model.ShippingCreate" />
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div >
        <table>
            <tr>
            <partial name="_Addproduct" model="Model.AddProduct" />
            </tr>
            <tr>
                <partial name="_Cart" model="Model.Cart" />
            </tr>
        </table>
    </div>
    

   
</div>